@charset "UTF-8";
html,body{
	min-height: 100%;
	margin: 0;
}

.welcome{
	display: flex;
	align-items: center;
	position: relative;
	background: url("LSUK1.jpg")no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}


.overlay{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0);
	background-color: rgba(255,255,255, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlayContent{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a{
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	font-family: actor;
    font-stretch: extra-condensed;
	font-weight: 300;
    color:rgba(79,74,68,1.00);
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: rgba(209,186,116,1.00);
}

.overlay .closebtn{
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.mobMenuButton{
	position: absolute;
	top: 50px;
	right: 53px;
	visibility: hidden;
}

#mobMenuButton:hover .hamburger{
	background-color: rgba(209,186,116,1.00);
}


@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
    	font-size: 40px;
    	top: 15px;
    	right: 35px;
  }
}


.menu{
	position: absolute;
	top: 17px;
	right: 17px;
	border: none;
	text-align: center;

	z-index: 10;
}	

.logo{
	position: absolute;
	top: 0px;
	left: 0px;
	
	z-index: 8;
}

.fliessText{
	text-align: center;
	
	margin-top: 70px;
    margin-left: 35px;
    margin-right: 35px;
	
	
    font-size: 15pt;
    font-family: actor;
    font-style: normal;
    font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 5px;
	
	
	color:rgba(79,74,68,1.00);
}


.balkenUnten{
	display: flex;
	flex-direction: column;
	background-color: rgba(237,106,6,1.00);
	margin-top: 120px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.balkenUnten a{
	color: white;
	text-decoration: none;
	font-family: actor;
	margin-left: 35px;
	margin-right:35px;
	margin-bottom: 10px;
}

h1{
	margin-left: 35px;
	margin-right: 35px;
    font-family: actor;
    font-stretch: extra-condensed;
	font-weight: 900;
    color:rgba(79,74,68,1.00);
    padding-bottom: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 25pt;
}

button{
	margin-left: 15px;
	border-color: white;
	border: 0.4em;
	border-radius: 0.6em;
	width: 142px;
	height: 30px;
	font-size: 10pt;
	font-family:actor;
	color: rgba(79,74,68,1.00);
	background-color: white;
	font-stretch: condensed;
}

#b4{
	background-color: rgba(79,74,68,1.00);
	color: white;
}

#b5{
	margin-top: 30px;
	border-color: white;
	border: 0.4em;
	border-radius: 0.6em;
	width: auto;
	height: 50px;
	font-size: 15pt;
	font-family:actor;
	background-color:rgba(237,106,6,1.00);
	color: white;
}


button:hover {
	background-color:rgba(237,106,6,1.00);
	color: white;
}

.hamburger{
	width: 35px;
  	height: 5px;
  	background-color: rgba(79,74,68,1.00);
  	margin: 6px 0;
}

.logo-desktop {
	display: block;
}
.logo-mobile {
	display: none;
}

@media only screen and (max-width: 768px) {
  	/* For mobile phones: */
	button {visibility: hidden;}
	.mailBtn {visibility: visible;}
	.mobMenuButton{
		visibility: visible;
		z-index: 100;
	}
	.welcome {
		height: 400px;
		background: url("LSUK1hoch.jpg")no-repeat;
		background-size: cover;
		background-position: center;
	}

	.logo-desktop {
		display: none;
	}
	.logo-mobile {
		display: block;
	}

  
}
