@charset "UTF-8";
html,body{
	min-height: 100%;
	margin: 0;
}

.welcome{
	display: flex;
	align-items: center;
	position: relative;
	background: url("WWS1.jpg")no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 890px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.overlay{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0);
	background-color: rgba(255,255,255, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlayContent{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a{
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	font-family: actor;
    font-stretch: extra-condensed;
	font-weight: 300;
    color:rgba(79,74,68,1.00);
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: rgba(209,186,116,1.00);
}

.overlay .closebtn{
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.mobMenuButton{
	position: absolute;
	top: 50px;
	right: 53px;
	visibility: hidden;
}

@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
    	font-size: 40px;
    	top: 15px;
    	right: 35px;
  }
}

#mobMenuButton:hover .hamburger{
	background-color: rgba(209,186,116,1.00);
}


.back-to-top {
 	position: fixed;
 	bottom:20px;
 	right:20px;
 	padding:1em;
 	z-index: 100;
}

.menu{
	position: absolute;
	top: 17px;
	right: 17px;
	border: none;
	text-align: center;

	z-index: 10;
}	

.logo{
	position: absolute;
	top: 0px;
	left: 0px;
	
	z-index: 8;
}

.beigeText{
    display: flex;
	align-items: center;
	flex-direction: column;
    margin-top: 20px;
    font-size: 25pt;
    font-style: italic;
    line-height: 1.5em;
    color: rgba(209,186,116,1.00);
    font-family: actor;
    font-weight: 100;
}

.fettText{
	text-align: right;
	padding-right: 35px;
	padding-bottom: 100px;
	margin-top: 80px;
}

.fotos{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 85px;
}

.fotos img{
	padding-left: 10px;
}

#zitat{
    display: flex;
    margin-top: 0px;
    font-size: 10pt;
    font-family: actor;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	margin: 0px;
}

.fliessText{
	margin-top: 10px;
    display: flex;
	flex-direction: column;
    align-content: center;
    margin-left: 85px;
    margin-right: 85px;
    font-size: 15pt;
    font-family: actor;
    font-style: normal;
    font-weight: 400;
	line-height: 1.5em;
	color:rgba(79,74,68,1.00);
}

.unterpunkte{
	margin-top: 50px;
	display: grid;
	grid-template-columns: 500px 400px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	grid-row: auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	
	flex-direction: row;
	align-content: space-around;
	justify-content: center;
	flex-wrap: wrap;
}

.einPunkt{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}

ul{
	list-style: square;
	
	margin: 0;
	padding: 0;
	padding-left: 20px;
	font-size: 15pt;
    font-family: actor;
    font-style: normal;
    font-weight: 400;
	line-height: 1.5em;
	color:rgba(79,74,68,1.00);
	margin-bottom: 40px;
}

#typFr{
	display: flex;
	align-content: center;
	margin-left: 35px;
	margin-top: 70px;
	font-size: 15pt;
	font-family: actor;
	font-weight: 400;
	font-style: normal;
	color:rgba(79,74,68,1.00);
}

.cContainer{
	display: flex;
	justify-content:flex-end;
	align-items: center;
	margin-left: 100px;
}

.fett{
	margin-top: 0px;
	font-weight: 900;
}

.kreis {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: rgba(237,106,6,1.00);
	margin-bottom: 20px;
}

.partnerCoaches{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 85px;
	margin-right: 85px;
	margin-top: 55px;
}

.cName {
	width: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: rgba(225,208,165,1.00);
	border-radius: 10px;
}

.cName h1{
	font-size: 20pt;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
	color: white;
}

.coach{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.circle {
	display: flex;
	flex: 1 0 auto;
	align-items: center;
	justify-content: center;
	
  	width: 300px;
 	height: 300px;
  	border-radius: 50%;
  	font-size: 14pt;
	font-family: actor;
	font-weight: 100;
	font-style: italic;
  	color: #fff;
  	text-align: center;
  	background: rgba(237,106,6,1.00);
}

.cInfo{
	width: 250px;
	font-size: 15pt;
    font-family: actor;
    font-style: normal;
    font-weight: 400;
	line-height: 1.5em;
	color: rgba(79,74,68,1.00);
	display: none;
}

.collapsible{
	display: inline-block;
	align-content: flex-end;
	margin-left: 0px;
	width: 30px;
	height: 30px;
	font-size: 15pt;
	border-radius: 50%;
	background-color: white;
	color: rgba(79,74,68,1.00);
}

.fragestellungen{
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;
	margin-left: 85px;
	margin-right: 85px;
}

.f1{
	background-color: rgba(225,208,165,1.00);
	font-family: actor;
	border: 0.4em;
	border-radius: 10px;
	color: white;
	height: 60px;
	font-size: 25pt;
	font-weight: 900;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 20px;
	padding-right: 20px;
	overflow: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}


.balkenUnten{
	display: flex;
	flex-direction: column;
	background-color: rgba(237,106,6,1.00);
	margin-top: 120px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.balkenUnten a{
	color: white;
	text-decoration: none;
	font-family: actor;
	margin-left: 35px;
	margin-right:35px;
	margin-bottom: 10px;
}


h1{
    font-family: actor;
    font-stretch: extra-condensed;
	font-weight: 900;
    color:rgba(79,74,68,1.00);
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 30px;
    margin-top: 5px;
    font-size: 25pt;
}

button{
	margin-left: 15px;
	border-color: white;
	border: 0.4em;
	border-radius: 0.6em;
	width: 142px;
	height: 30px;
	font-size: 10pt;
	font-family: actor;
	color: rgba(79,74,68,1.00);
	background-color: white;
	font-stretch: condensed;
}

#b1{
	background-color: rgba(79,74,68,1.00);
	color: white;
}


button:hover {
	background-color:rgba(237,106,6,1.00);
	color: white;
}

.hamburger{
	width: 35px;
  	height: 5px;
  	background-color: rgba(79,74,68,1.00);
  	margin: 6px 0;
}

.logo-desktop {
	display: block;
}
.logo-mobile {
	display: none;
}

@media only screen and (max-width: 768px) {
  	/* For mobile phones: */
  	.unterpunkte {
		  display: flex;
		  flex-direction: column;
	}
	button {visibility: hidden;}
	
	.mobMenuButton{
		visibility: visible;
		z-index: 100;
	}
	.cContainer {
		flex-direction: column;
		margin-left: 0;
		margin-right: 0;
	}
	.fullBr{
		display: none;
	}
	.beigeText{
		margin-right: 35px;
		margin-left: 35px;
	}
	.fliessText{
		margin-left: 35px;
		margin-right: 35px;
	}
	.fragestellungen{
		margin-left: 35px;
		margin-right: 35px;
	}
	.partnerCoaches {
		display: flex;
		flex-direction: column;
	}
	.collapsible{
		visibility: visible;
	}
	.coach{
		margin-bottom: 50px;
	}
	#pcs{
		height: 90px;
	}
	.welcome {
		height: 650px;
	}
	.logo-desktop {
		display: none;
	}
	.logo-mobile {
		display: block;
	}
  
}
