@charset "UTF-8";
html,body{
	min-height: 100%;
	margin: 0;
}


.overlay{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0);
	background-color: rgba(255,255,255, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlayContent{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a{
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	font-family: actor;
    font-stretch: extra-condensed;
	font-weight: 300;
    color:rgba(79,74,68,1.00);
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: rgba(209,186,116,1.00);
}

.overlay .closebtn{
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.mobMenuButton{
	position: absolute;
	top: 50px;
	right: 53px;
	visibility: hidden;
}

#mobMenuButton:hover .hamburger{
	background-color: rgba(209,186,116,1.00);
}


@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
    	font-size: 40px;
    	top: 15px;
    	right: 35px;
  }
}


.back-to-top {
 	position: fixed;
 	bottom:20px;
 	right:20px;
 	padding:1em;
 	z-index: 100;
}


.welcome{
	display: flex;
	align-items: center;
	position: relative;
	background: url("WWM1.jpg")no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 890px;
}

.menu{
	position: absolute;
	top: 17px;
	right: 17px;
	border: none;
	text-align: center;

	z-index: 10;
}	

.logo{
	position: absolute;
	top: 0px;
	left: 0px;
	
	z-index: 8;
}

.beigeText{
	margin-top: 50px;
	margin-bottom: 50px;
    display: flex;
	justify-content: center;
	
}

.textBausteine{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	font-size: 25pt;
    font-style: italic;
    line-height: 1.5em;
    color: rgba(209,186,116,1.00);
    font-family: actor;
    font-weight: 100;
}

#zitat{
	margin-bottom: 0;
}

#urheber{
    display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
	padding-top: 0px;
	
    font-size: 10pt;
    font-family: actor;
	font-style: normal;
	font-weight: 400;
	color: rgba(79,74,68,1.00);
}

.fliessText{
    display: flex;
	flex-direction: column;
    align-content: center;
    margin-left: 85px;
    margin-right: 55px;
    font-size: 15pt;
    font-family: actor;
    font-style: normal;
    font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 5px;
	color:rgba(79,74,68,1.00);
}

.aufzaehlung{
	margin-left: 85px;
	margin-right: 85px;
	font-size: 15pt;
	font-family: actor;
	color:rgba(237,106,6,1.00);
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 20px;
	padding-top: 0px;
}

.namen{
	color: rgba(209,186,116,1.00);
}

.fett{
	margin-top: 15px;
	font-weight: 900;
}

#typFr{
	display: flex;
	align-content: center;
	margin-left: 85px;
	margin-top: 70px;
	font-size: 15pt;
	font-family: actor;
	font-weight: 400;
	font-style: normal;
	color:rgba(79,74,68,1.00);
}

.fragestellungen{
	display: flex;
	flex-direction: column;
	margin-left: 85px;
	margin-right: 85px;
}

.f1{
	background-color: rgba(209,186,116,1.00);
	font-family: actor;
	border: 0.4em;
	border-radius: 0.6em;
	color: white;
	height: 60px;
	font-size: 14pt;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 20px;
	padding-right: 20px;
	overflow: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.balkenUnten{
	display: flex;
	flex-direction: column;
	background-color: rgba(237,106,6,1.00);
	margin-top: 120px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.balkenUnten a{
	color: white;
	text-decoration: none;
	font-family: actor;
	margin-left: 35px;
	margin-right:35px;
	margin-bottom: 10px;
}

h1{
	margin-left: 85px;
	margin-right: 85px;
    font-family: actor;
    font-stretch: extra-condensed;
	font-weight: 900;
    color:rgba(79,74,68,1.00);
    padding-bottom: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 25pt;
}

button{
	margin-left: 15px;
	border-color: white;
	border: 0.4em;
	border-radius: 0.6em;
	width: 142px;
	height: 30px;
	font-size: 10pt;
	font-family:actor;
	color: rgba(79,74,68,1.00);
	background-color: white;
	font-stretch: condensed;
}

#b2{
	background-color: rgba(79,74,68,1.00);
	color: white;
}

.hamburger{
	width: 35px;
  	height: 5px;
  	background-color: rgba(79,74,68,1.00);
  	margin: 6px 0;
}


.logo-desktop {
	display: block;
}
.logo-mobile {
	display: none;
}


button:hover {
	background-color:rgba(237,106,6,1.00);
	color: white;
}

@media only screen and (max-width: 768px) {
  	/* For mobile phones: */
	button {visibility: hidden;}
	.mobMenuButton{
		visibility: visible;
		z-index: 100;
	}
	h1{
		margin-left: 35px;
		margin-right: 35px;
	}
	.fullBr{
		display: none;
	}
	.fliessText{
		margin-left: 35px;
		margin-right: 35px;
	}
	.aufzaehlung{
		margin-left: 35px;
		margin-right: 35px;
	}
	.beigeText{
		margin-left: 35px;
		margin-right: 35px;
	}
	.welcome {
		height: 650px;
	}
	.logo-desktop {
		display: none;
	}
	.logo-mobile {
		display: block;
	}

  
}
